/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.hljs-name,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}

body {
  background-color: #f8f8f2;
  font-family: 'Asap', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  transition: color 300ms ease;
}
a:hover {
  color: #999;
}

.header, .footer {
  text-align: center;
}

.header {
  padding: 25px 0 10px;
}
.header .title {
  margin: 0 0 15px;
}
.header nav ul {
  list-style-position: outside;
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}
.header nav li {
  display: inline-block;
  padding: 0 20px;
}
.header nav a {
  font-weight: bold;
  text-decoration: none;
}

.footer {
  padding: 30px 0;
}

.title a {
  text-decoration: none;
}

.post {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding: 30px 0 20px;
  margin: 0 0 40px;
}
.post:last-child {
  margin-bottom: 0;
}
.post .post-header,
.post .content {
  margin: 0 auto;
  width: 700px;
}
.post .title {
  margin: 0;
}
.post .meta {
  color: #999;
  font-size: small;
  margin: 10px 0 25px;
}

.post-list {
  background: #fff;
  padding: 30px 0 20px;
}
.post-list .title {
  width: 700px;
  margin: 0 auto 10px;
}
.post-list-item {
  padding: 10px 0;
  margin: 0 auto;
  width: 700px;
}
.post-list-item:after {
  content: "";
  clear: both;
  display: block;
}
.post-list-item .date {
  float: left;
  width: 100px;
  padding-top: 5px;
}
.post-list-item .title {
  float: left;
  width: 600px;
  margin: 0;
}

.content {
  line-height: 1.6em;
}
.content img {
  max-width: 100%;
}

/* code */
.hljs {
  line-height: 1.5em;
  padding: 10px 15px;
  overflow-x: scroll;
}
code {
  background-color: #f8f8f2;
  padding: 0.1em 0.2em;
}

.pagination {
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: -20px auto 0px;
  width: 700px;
}
.pagination:after {
  content: "";
  clear: both;
  display: block;
}
.pagination li {
  font-weight: bold;
  width: 50%;
}
.pagination a {
  text-decoration: none;
}
.pagination .prev-page {
  float: left;
}
.pagination .prev-page a:before {
  content: "< ";
}
.pagination .next-page {
  float: right;
  text-align: right;
}
.pagination .next-page a:after {
  content: " >";
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
  .post .post-header,
  .post .content,
  .post-list .title,
  .post-list-item,
  .pagination {
    width: 90%;
  }
}
