.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
.vimeo-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
dist
lib/filters/manual-tests/images
