---
layout: layouts/base
permalink: "{{ page | blogPermalink }}"
---
<div class="post">
  <div class="post-header">
    <h1 class="title">
      {{ title | insertWbr | safe }}
    </h1>
    <div class="meta">
      <span class="date">{{ page.date | formatDate }}</span>
{%- for tag in tags -%}
  {%- if loop.first -%}{{ ' - ' }}{%- endif -%}
  <a href="/blog/tags/{{tag}}">{{ tag }}</a>{%- if not loop.last -%}{{ ', ' }}{%- endif -%}
{%- endfor %}
    </div>
  </div>
  <div class="content">
    <div>
      {{ content | safe }}
    </div>
  </div>
</div>

{%- set newerPost = collections.posts | getPreviousCollectionItem(page) -%}
{%- set olderPost = collections.posts | getNextCollectionItem(page) -%}
<ul class="pagination">
  <li class="pagination__prev-page">
{%- if newerPost %}
    <a href="{{ newerPost.url }}">{{ newerPost.data.title | insertWbr | safe }}</a>
{%- endif %}
  </li>
  <li class="pagination__next-page">
{%- if olderPost %}
    <a href="{{ olderPost.url }}">{{ olderPost.data.title | insertWbr | safe }}</a>
{%- endif %}
  </li>
</ul>
<nav class="footer-nav"><a href="/blog/archives/">All posts</a></nav>
