extends default

block head

block content
  .post-list
    each post in posts
      .post-list-item
        .date= post.date.split(' ')[0] + ' '
        h2.title
          a(href=post.url)= post.title
