doctype html
html
  head
    title= site.title
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/style.css")
    block head
  body
    header.header
      h1.title
        a(href="/blog")= site.title
      nav
        ul
          li: a(href="/blog") Index
          li: a(href="/about") About

    .main
      .main-inner
        block content

    footer.footer
      != '&copy; ' + site.author
