doctype html
html
  head
    title= site.title
    meta(charset="utf-8")
    style.
      body {
        font-family: sans-serif;
      }

      .header, .main {
        width: 700px;
        margin: 0 auto;
      }
      .header {
        text-align: center;
      }

      .post .title a,
      .post-list-item .title a {
        color: #000;
        text-decoration: none;
        transition: color 300ms ease;
      }
      .post .title a:hover,
      .post-list-item .title a:hover {
        color: #999;
      }

      .post-list-item {
        width: 100%;
        margin: 20px 0;
      }
      .post-list-item:after {
        content: "";
        clear: both;
        display: block;
      }
      .post-list-item .date {
        float: left;
        width: 100px;
        padding-top: 5px;
      }
      .post-list-item .title {
        float: left;
        width: 600px;
        margin: 0;
      }

      .content img {
        max-width: 100%;
      }
      .content pre code {
        background: #000;
        color: #0f0;
        display: block;
        padding: 10px 15px;
        overflow-x: scroll;
      }

    block head
  body
    header.header
      .header-title
        a(href="/blog")= site.title

    .main
      block content
