extends default

block head

block content
  each post in posts
    include _post
  ul.pagination
    li.pagination__prev-page
      if prevPage
        a(href=prevPage) Newer Posts
    li.pagination__archives
      a(href="/blog/archives") Archives
    li.pagination__next-page
      if nextPage
        a(href=nextPage) Older Posts
