body {
  background: #eee;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  transition: color 300ms ease;
}
a:hover {
  color: #999;
}

.main {
  background: #fff;
  padding: 10px 0;
}
.main-inner {
  margin: 0 auto;
  width: 700px;
}

.header, .footer {
  background: #eee;
  text-align: center;
}

.header {
  padding: 20px 0 10px;
}
.header .title {
  margin: 0 0 10px;
}
.header nav ul {
  list-style-position: outside;
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}
.header nav li {
  display: inline-block;
  padding: 0 20px;
}
.header nav a {
  font-weight: bold;
  text-decoration: none;
}

.footer {
  padding: 30px 0;
}

.title a {
  text-decoration: none;
}

.post-list-item {
  width: 100%;
  margin: 20px 0;
}
.post-list-item:after {
  content: "";
  clear: both;
  display: block;
}
.post-list-item .date {
  float: left;
  width: 100px;
  padding-top: 5px;
}
.post-list-item .title {
  float: left;
  width: 600px;
  margin: 0;
}

.content {
  line-height: 1.6em;
}
.content img {
  max-width: 100%;
}
.content pre code {
  background: #000;
  color: #0f0;
  display: block;
  line-height: 1.3em;
  padding: 10px 15px;
  overflow-x: scroll;
}
