body {
  background-color: #f8f8f2;
  font-family: 'Asap', sans-serif;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background: #fbf42f;
}
::selection {
  background: #fbf42f;
}

a {
  color: #000;
  transition: color 300ms ease;
}
a:hover {
  color: #999;
}

/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  border-left: 10px solid #eeeee0;
  font-style: italic;
  padding: 0.1em 1.2em;
  margin-left: 0;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p:first-child:before {
  content: open-quote;
  font-family: serif;
  font-size: 3em;
  font-weight: bold;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}

blockquote cite {
  color: #999990;
}

blockquote cite:before {
  content: "- ";
}

/* header */
.header {
  padding: 25px 0 10px;
}
.header__title {
  margin: 0 0 15px;
}
.header__title a {
  color: var(--text-color);
  text-decoration: none;
}
.menu {
  list-style-position: outside;
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}
.menu__item {
  display: inline-block;
  padding: 0 20px;
}
.menu__item a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

.footer {
  padding: 30px 0;
  text-align: center;
}

/* title */
.title {
  font-size: 42px;
}
.title a {
  color: var(--text-color);
  text-decoration: none;
}

/* post */
.post,
.post-list{
  padding: 30px 0 20px;
}

.post {
  margin: 0 0 40px;
}
.post:last-child {
  margin-bottom: 0;
}
.post .title {
  margin: 0;
}
.post .meta {
  font-size: small;
  margin: 10px 0 25px;
}

.post-list .title {
  margin-bottom: 10px;
}
.post-list-item {
  line-height: 1.6em;
  padding: 10px 0;
}
.post-list-item:after {
  content: "";
  clear: both;
  display: block;
}
.post-list-item__date {
  float: left;
  font-size: small;
  width: 90px;
}
.post-list-item__title {
  font-size: large;
  float: left;
  width: 610px;
  margin: 0;
}
.post-list-item__title a {
  font-weight: bold;
  text-decoration: none;
}

/* content */
.content {
  line-height: 1.7em;
}
.content img {
  max-width: 100%;
}

.social-buttons {
  margin: 2em 0 0;
}

/* comments */
.comments {
  margin-bottom: 3em;
}

/* table */
.table-wrapper {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  margin: 2em 0;
}
th {
  font-weight: normal;
  text-align: left;
}
tbody {
  border-top: 1px solid #333;
  padding: 0.5em 0;
}
th, td {
  padding-right: 1em;
}

/* code */
.hljs {
  line-height: 1.5em;
  padding: 15px 20px;
  overflow-x: auto;
}
code {
  background-color: var(--code-bg-color);
  padding: 0.1em 0.2em;
  font-size: 0.85em;
  font-family: Monaco, 'Lucida Console', monospace;
}
.code__filename {
  display: inline-block;
  margin-bottom: 13px;
  padding: 5px 10px;
  font-size: 0.85em;
  background-color: #666;
}

/* pagination */
.pagination {
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin-top: -20px;
}
.pagination:after {
  content: "";
  clear: both;
  display: block;
}
.pagination li {
  float: left;
  font-weight: bold;
  min-height: 1em;
}
.pagination a {
  text-decoration: none;
}
.pagination__prev-page {
  float: left;
  width: 35%;
}
.pagination__prev-page a:before {
  content: "< ";
}
.pagination__next-page {
  float: right;
  text-align: right;
  width: 35%;
}
.pagination__next-page a:after {
  content: " >";
}
.pagination__archives {
  text-align: center;
  width: 30%;
}

/* mobile */
@media only screen and (max-width: 767px) {
  .container {
    width: auto;
  }
  .title {
    font-size: 24px;
  }
  .post-list-item__title {
    width: 100%;
  }
  .hljs {
    margin-left: -20px;
    margin-right: -20px;
    padding: 1.4em 20px;
  }
}
