// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// base/_theme
// TODO: Do it with variables.
html {
  background-image: none;
}

// base/_typography
body {
  // You can't override `extend` with `extend`.
  font-family: $sans;
}

@media only screen and (min-width: 992px) {
  h1 { font-size: 2.2em; }
}

// partials/_navigation
body > nav {
  border: 0 none;
  @media only screen and (min-width: 550px) {
    form {
      width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium + 5px;
    }
  }
  @media only screen and (min-width: 992px) {
    form {
      width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 - 10px;
    }
  }
}

// partials/_footer
body > footer {
  text-shadow: none;
  border: 0 none;
}

// partials/_blog
#content .blog-index {
  article { padding-top: 1em; }
}

@media only screen and (min-width: 768px) {
  #content .blog-index {
    padding-top: $pad-medium/2;
  }
}

@media only screen and (min-width: 992px) {
  #content .blog-index {
    padding-top: $pad-wide/2;
  }
}

article header {
  padding-top: 0;
  p.meta {
    position: relative;
    top: 0.8em;
  }
}

// partials/sidebar/_base
.toggle-sidebar {
  display: none;
}

// partials/_syntax
.code-title {
  border: 0 none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  text-align: left;
}

figure.code, .gist-file, pre {
  @include box-shadow(none);
}
